<div data-testid="plp-search-banner" id="plp-search-banner">
  <div data-testid="plp-ctas-template" id="ctasAndCopyTemplate">
    <div data-testid="plp-search-banner-container" class="search-banner-container">
      <div data-testid="plp-search-banner-text-column" class="search-banner-text-column">
        <div data-testid="plp-search-banner-quick-links" class="search-banner-quick-links">
          <a
            href="{{SiteUrl}}/shop/department-homeware-productaffiliation-bedding/category-bedsets-category-duvetcover"
            class="search-quick-link"
            >Link 1</a
          >
          <a
            href="{{SiteUrl}}/shop/department-homeware-productaffiliation-bedding/category-bedsets-category-duvetcover"
            class="search-quick-link"
            >Link 2</a
          >
          <a
            href="{{SiteUrl}}/shop/department-homeware-productaffiliation-duvetsandpillows/category-protectors"
            class="search-quick-link"
            >Link 3</a
          >
          <a
            href="{{SiteUrl}}/shop/department-homeware-productaffiliation-duvetsandpillows/category-toppers"
            class="search-quick-link"
            >Link 4</a
          >
          <a
            href="{{SiteUrl}}/shop/department-homeware-productaffiliation-bedding/category-bedsets-category-duvetcover"
            class="search-quick-link"
            >Link 5</a
          >
          <a
            href="{{SiteUrl}}/shop/department-homeware-productaffiliation-bedding/category-bedsets-category-duvetcover"
            class="search-quick-link"
            >Link 6</a
          >
          <a
            href="{{SiteUrl}}/shop/department-homeware-productaffiliation-duvetsandpillows/category-protectors"
            class="search-quick-link"
            >Link 7</a
          >
          <a
            href="{{SiteUrl}}/shop/department-homeware-productaffiliation-duvetsandpillows/category-toppers"
            class="search-quick-link"
            >Link 8</a
          >
          <a
            href="{{SiteUrl}}/shop/department-homeware-productaffiliation-bedding/category-bedsets-category-duvetcover"
            class="search-quick-link"
            >Link 1</a
          >
          <a
            href="{{SiteUrl}}/shop/department-homeware-productaffiliation-bedding/category-bedsets-category-duvetcover"
            class="search-quick-link"
            >Link 2</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
