<div data-testid="plp-search-banner" id="plp-search-banner">
  <div data-testid="plp-lingerie-template" id="lingerieTemplate">
    <p data-testid="search-banner-mobile-read-more-content" id="search-banner-mobile-read-more-content"></p>
    <div data-testid="plp-search-banner-container" class="search-banner-container">
      <div data-testid="plp-search-banner-text-column" class="search-banner-text-column">
        <div data-testid="plp-search-banner-copy" id="search-banner-copy">
          <div data-testid="plp-search-banner-copy-text" class="search-banner-copy-text">
            <p
              data-testid="search-banner-read-more-content"
              id="search-banner-read-more-content"
              class="search-banner-read-more-content"
            >
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum,
              nisi lorem egestas vitae scel erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue
              eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed
              ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae
              dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh
              tempor porta.
            </p>
          </div>
          <div data-testid="plp-search-banner-copy-read-more" class="search-banner-copy-read-more">
            <button data-testid="search-banner-read-more" id="search-banner-read-more" data-openclose="open">
              + Read more
            </button>
          </div>
        </div>

        <div data-testid="plp-search-banner-roundels" class="search-banner-roundels">
          <div class="roundelsItem" data-testid="roundelsItem">
            <a
              href="{{SiteUrl}}/shop/gender-women/brand-amido-feat-newin"
              class="roundelsItem link"
              data-testid="plp-roundels-template-amido"
              aria-label="amido"
            >
              <img class="roundelsItem image" alt="amido" src="https://xcdn.amido.co.uk\sbanners\amido2.jpg" />
              <div><span class="roundelsItem text">amido</span></div>
            </a>
          </div>
          <div class="roundelsItem" data-testid="roundelsItem">
            <a
              href="{{SiteUrl}}/shop/gender-women-editorial-label/feat-newin"
              class="roundelsItem link"
              data-testid="plp-roundels-template-amido"
              aria-label="Bras"
            >
              <img class="roundelsItem image" alt="Bras" src="https://xcdn.amido.co.uk\sbanners\Bras.jpg" />
              <div><span class="roundelsItem text">Bras</span></div>
            </a>
          </div>
          <div class="roundelsItem" data-testid="roundelsItem">
            <a
              href="{{SiteUrl}}/shop/gender-women-productaffiliation-coatsandjackets/feat-newin"
              class="roundelsItem link"
              aria-label="Knickers"
            >
              <img class="roundelsItem image" alt="Knickers" src="https://xcdn.amido.co.uk\sbanners\Knickers.jpg" />
              <div class="roundelsItem textContainer">
                <span class="roundelsItem text">Knickers</span>
              </div>
            </a>
          </div>
          <div class="roundelsItem" data-testid="roundelsItem">
            <a
              href="{{SiteUrl}}/shop/gender-women-productaffiliation-knitwear/feat-newin"
              class="roundelsItem link"
              aria-label="Shapewear"
            >
              <img class="roundelsItem image" alt="Shapewear" src="https://xcdn.amido.co.uk\sbanners\Shapewear.jpg" />
              <div class="roundelsItem textContainer">
                <span class="roundelsItem text">Shapewear</span>
              </div>
            </a>
          </div>
          <div class="roundelsItem" data-testid="roundelsItem">
            <a
              href="{{SiteUrl}}/shop/gender-women-productaffiliation-tops/feat-newin"
              class="roundelsItem link"
              aria-label="Bella DD+"
            >
              <img class="roundelsItem image" alt="Bella DD+" src="https://xcdn.amido.co.uk\sbanners\bella-dd.jpg" />
              <div><span class="roundelsItem text">Bella DD+</span></div>
            </a>
          </div>
          <div class="roundelsItem" data-testid="roundelsItem">
            <a
              href="{{SiteUrl}}/shop/gender-women-category-dresses/feat-newin"
              class="roundelsItem link"
              aria-label="Multipack Essentials"
            >
              <img
                class="roundelsItem image"
                alt="Multipack Essentials"
                src="https://xcdn.amido.co.uk\sbanners\multipack-bras.jpg"
              />
              <div><span class="roundelsItem text">Multipack Essentials</span></div>
            </a>
          </div>
          <div class="roundelsItem" data-testid="roundelsItem">
            <a
              href="{{SiteUrl}}/shop/gender-women-productaffiliation-sportswear/feat-newin"
              class="roundelsItem link"
              aria-label="Sportswear"
            >
              <img
                class="roundelsItem image"
                alt="Sportswear"
                src="https://xcdn.amido.co.uk\sbanners\sports-bras.jpg"
              />
              <div><span class="roundelsItem text">Sportswear</span></div>
            </a>
          </div>
          <div class="roundelsItem" data-testid="roundelsItem">
            <a
              href="{{SiteUrl}}/shop/gender-women-productaffiliation-lingerie/feat-newin"
              class="roundelsItem link"
              aria-label="Lingerie"
            >
              <img
                class="roundelsItem image"
                alt="Lingerie"
                src="https://xcdn.amido.co.uk/Common/Items/Default/Default/Newinbanners/Womens/G27/Lingerie.jpg"
              />
              <div><span class="roundelsItem text">Lingerie</span></div>
            </a>
          </div>
        </div>

        <div data-testid="plp-search-banner-quick-links" class="search-banner-quick-links">
          <a
            href="{{SiteUrl}}/shop/department-homeware-productaffiliation-bedding/category-bedsets-category-duvetcover"
            class="search-quick-link"
            >Link 1</a
          >
          <a
            href="{{SiteUrl}}/shop/department-homeware-productaffiliation-bedding/category-bedsets-category-duvetcover"
            class="search-quick-link"
            >Link 2</a
          >
          <a
            href="{{SiteUrl}}/shop/department-homeware-productaffiliation-duvetsandpillows/category-protectors"
            class="search-quick-link"
            >Link 3</a
          >
          <a
            href="{{SiteUrl}}/shop/department-homeware-productaffiliation-duvetsandpillows/category-toppers"
            class="search-quick-link"
            >Link 4</a
          >
          <a
            href="{{SiteUrl}}/shop/department-homeware-productaffiliation-bedding/category-bedsets-category-duvetcover"
            class="search-quick-link"
            >Link 5</a
          >
        </div>
      </div>
    </div>
    <div data-testid="plp-search-banner-strip" class="search-banner-strip">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
    </div>
  </div>
</div>
