<div data-testid="plp-search-banner" id="plp-search-banner">
  <div data-testid="plp-roundels-template" id="roundels-template">
    <div class="roundelsItem" data-testid="roundelsItem">
      <a
        href="{{SiteUrl}}/shop/gender-women/brand-amido-feat-newin"
        class="roundelsItem link"
        data-testid="plp-roundels-template-amido"
        aria-label="amido"
      >
        <img
          class="roundelsItem image"
          alt="amido"
          src="https://xcdn.amido.co.uk/Common/Items/Default/Default/Newinbanners/Womens/G27/amido.jpg"
        />
        <div><span class="roundelsItem text">amido</span></div>
      </a>
    </div>
    <div class="roundelsItem" data-testid="roundelsItem">
      <a
        href="{{SiteUrl}}/shop/gender-women-editorial-label/feat-newin"
        class="roundelsItem link"
        data-testid="plp-roundels-template-amido"
        aria-label="Brands"
      >
        <img
          class="roundelsItem image"
          alt="Brands"
          src="https://xcdn.amido.co.uk/Common/Items/Default/Default/Newinbanners/Womens/G27/Brands.jpg"
        />
        <div><span class="roundelsItem text">Brands</span></div>
      </a>
    </div>
    <div class="roundelsItem" data-testid="roundelsItem">
      <a
        href="{{SiteUrl}}/shop/gender-women-productaffiliation-coatsandjackets/feat-newin"
        class="roundelsItem link"
        aria-label="Coats &amp; Jackets"
      >
        <img
          class="roundelsItem image"
          alt="Coats &amp; Jackets"
          src="https://xcdn.amido.co.uk/Common/Items/Default/Default/Newinbanners/Womens/G27/coats-jackets.jpg"
        />
        <div class="roundelsItem textContainer">
          <span class="roundelsItem text">Coats</span>
          <span class="roundelsItem text">&amp; Jackets</span>
        </div>
      </a>
    </div>
    <div class="roundelsItem" data-testid="roundelsItem">
      <a
        href="{{SiteUrl}}/shop/gender-women-productaffiliation-knitwear/feat-newin"
        class="roundelsItem link"
        aria-label="Jumpers &amp; Cardigans"
      >
        <img
          class="roundelsItem image"
          alt="Jumpers &amp; Cardigans"
          src="https://xcdn.amido.co.uk/Common/Items/Default/Default/Newinbanners/Womens/G27/jumpers-cardigans.jpg"
        />
        <div class="roundelsItem textContainer">
          <span class="roundelsItem text">Jumpers</span>
          <span class="roundelsItem text">&amp; Cardigans</span>
        </div>
      </a>
    </div>
    <div class="roundelsItem" data-testid="roundelsItem">
      <a
        href="{{SiteUrl}}/shop/gender-women-productaffiliation-tops/feat-newin"
        class="roundelsItem link"
        aria-label="Tops"
      >
        <img
          class="roundelsItem image"
          alt="Tops"
          src="https://xcdn.amido.co.uk/Common/Items/Default/Default/Newinbanners/Womens/G27/Tops.jpg"
        />
        <div><span class="roundelsItem text">Tops</span></div>
      </a>
    </div>
    <div class="roundelsItem" data-testid="roundelsItem">
      <a
        href="{{SiteUrl}}/shop/gender-women-category-dresses/feat-newin"
        class="roundelsItem link"
        aria-label="Dresses"
      >
        <img
          class="roundelsItem image"
          alt="Dresses"
          src="https://xcdn.amido.co.uk/Common/Items/Default/Default/Newinbanners/Womens/G27/Dresses.jpg"
        />
        <div><span class="roundelsItem text">Dresses</span></div>
      </a>
    </div>
    <div class="roundelsItem" data-testid="roundelsItem">
      <a
        href="{{SiteUrl}}/shop/gender-women-productaffiliation-sportswear/feat-newin"
        class="roundelsItem link"
        aria-label="Sportswear"
      >
        <img
          class="roundelsItem image"
          alt="Sportswear"
          src="https://xcdn.amido.co.uk/Common/Items/Default/Default/Newinbanners/Womens/G27/Sportswear.jpg"
        />
        <div><span class="roundelsItem text">Sportswear</span></div>
      </a>
    </div>
    <div class="roundelsItem" data-testid="roundelsItem">
      <a
        href="{{SiteUrl}}/shop/gender-women-productaffiliation-lingerie/feat-newin"
        class="roundelsItem link"
        aria-label="Lingerie"
      >
        <img
          class="roundelsItem image"
          alt="Lingerie"
          src="https://xcdn.amido.co.uk/Common/Items/Default/Default/Newinbanners/Womens/G27/Lingerie.jpg"
        />
        <div><span class="roundelsItem text">Lingerie</span></div>
      </a>
    </div>
    <div class="roundelsItem" data-testid="roundelsItem">
      <a
        href="{{SiteUrl}}/shop/gender-women-productaffiliation-footwear/feat-newin"
        class="roundelsItem link"
        aria-label="Shoes"
      >
        <img
          class="roundelsItem image"
          alt="Shoes"
          src="https://xcdn.amido.co.uk/Common/Items/Default/Default/Newinbanners/Womens/G27/Shoes.jpg"
        />
        <div><span class="roundelsItem text">Shoes</span></div>
      </a>
    </div>
    <div class="roundelsItem" data-testid="roundelsItem">
      <a
        href="{{SiteUrl}}/shop/gender-women-productaffiliation-accessories/feat-newin"
        class="roundelsItem link"
        aria-label="Accessories"
      >
        <img
          class="roundelsItem image"
          alt="Accessories"
          src="https://xcdn.amido.co.uk/Common/Items/Default/Default/Newinbanners/Womens/G27/Accessories.jpg"
        />
        <div><span class="roundelsItem text">Accessories</span></div>
      </a>
    </div>
  </div>
</div>
