<div data-testid="plp-search-banner" id="plp-search-banner">
  <div data-testid="plp-image-ctas-template" id="imageAndCtasTemplate">
    <div data-testid="plp-search-banner-container" class="search-banner-container">
      <div data-testid="plp-search-banner-image-column" class="search-banner-image-column">
        <div data-testid="plp-search-banner-small-image" class="search-banner-small-image">
          <img
            src="https://xcdn.amido.co.uk/Common/Items/Default/Default/ItemImages/search-banners/cp/brands/boy-m.jpg"
            alt="TODO"
            height="100%"
            width="100%"
          />
        </div>
        <div data-testid="plp-search-banner-large-image" class="search-banner-large-image">
          <img
            src="https://xcdn.amido.co.uk/Common/Items/Default/Default/ItemImages/search-banners/cp/brands/boy-dt.jpg"
            alt="TODO"
            height="100%"
            width="100%"
          />
        </div>
      </div>
      <div data-testid="plp-search-banner-quick-links" class="search-banner-quick-links">
        <a
          href="{{SiteUrl}}/shop/department-homeware-productaffiliation-bedding/category-bedsets-category-duvetcover"
          class="search-quick-link"
          >Birkenstock</a
        >
        <a
          href="{{SiteUrl}}/shop/department-homeware-productaffiliation-bedding/category-bedsets-category-duvetcover"
          class="search-quick-link"
          >Hatley Kids</a
        >
        <a
          href="{{SiteUrl}}/shop/department-homeware-productaffiliation-duvetsandpillows/category-protectors"
          class="search-quick-link"
          >Mini Rodini</a
        >
        <a
          href="{{SiteUrl}}/shop/department-homeware-productaffiliation-duvetsandpillows/category-toppers"
          class="search-quick-link"
          >Molo</a
        >
        <a
          href="{{SiteUrl}}/shop/department-homeware-productaffiliation-bedding/category-bedsets-category-duvetcover"
          class="search-quick-link"
          >Stella McCartney Kids</a
        >
        <a
          href="{{SiteUrl}}/shop/department-homeware-productaffiliation-bedding/category-bedsets-category-duvetcover"
          class="search-quick-link"
          >Veja</a
        >
        <a
          href="{{SiteUrl}}/shop/department-homeware-productaffiliation-bedding/category-bedsets-category-duvetcover"
          class="search-quick-link"
          >Nike</a
        >
        <a
          href="{{SiteUrl}}/shop/department-homeware-productaffiliation-bedding/category-bedsets-category-duvetcover"
          class="search-quick-link"
          >Adidas</a
        >
        <a
          href="{{SiteUrl}}/shop/department-homeware-productaffiliation-duvetsandpillows/category-protectors"
          class="search-quick-link"
          >Gucci</a
        >
        <a
          href="{{SiteUrl}}/shop/department-homeware-productaffiliation-duvetsandpillows/category-toppers"
          class="search-quick-link"
          >Ralph Lauren</a
        >
        <a
          href="{{SiteUrl}}/shop/department-homeware-productaffiliation-bedding/category-bedsets-category-duvetcover"
          class="search-quick-link"
          >Amido</a
        >
        <a
          href="{{SiteUrl}}/shop/department-homeware-productaffiliation-bedding/category-bedsets-category-duvetcover"
          class="search-quick-link"
          >Veja</a
        >
        <a
          href="{{SiteUrl}}/shop/department-homeware-productaffiliation-bedding/category-bedsets-category-duvetcover"
          class="search-quick-link"
          >Birkenstock</a
        >
        <a
          href="{{SiteUrl}}/shop/department-homeware-productaffiliation-bedding/category-bedsets-category-duvetcover"
          class="search-quick-link"
          >Puma</a
        >
        <a
          href="{{SiteUrl}}/shop/department-homeware-productaffiliation-duvetsandpillows/category-protectors"
          class="search-quick-link"
          >Pull and Bear</a
        >
        <a
          href="{{SiteUrl}}/shop/department-homeware-productaffiliation-duvetsandpillows/category-toppers"
          class="search-quick-link"
          >Molo</a
        >
        <a
          href="{{SiteUrl}}/shop/department-homeware-productaffiliation-bedding/category-bedsets-category-duvetcover"
          class="search-quick-link"
          >Jack and Jones</a
        >
        <a
          href="{{SiteUrl}}/shop/department-homeware-productaffiliation-bedding/category-bedsets-category-duvetcover"
          class="search-quick-link"
          >Superdry</a
        >
      </div>
    </div>
  </div>
</div>
