; begin auth token
//pkgs.dev.azure.com/Amido-Ecommerce/_packaging/Amido-Ecommerce/npm/registry/:username=Amido-Ecommerce
//pkgs.dev.azure.com/Amido-Ecommerce/_packaging/Amido-Ecommerce/npm/registry/:_password=[NTdycGUycTU2MnFjY2FjZGVycmNiN2Nmdnd6Y3A1ZWltbWp4YXl6bGtsNGN3NTZnbG81YQ==]
//pkgs.dev.azure.com/Amido-Ecommerce/_packaging/Amido-Ecommerce/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/Amido-Ecommerce/_packaging/Amido-Ecommerce/npm/:username=Amido-Ecommerce
//pkgs.dev.azure.com/Amido-Ecommerce/_packaging/Amido-Ecommerce/npm/:_password=[NTdycGUycTU2MnFjY2FjZGVycmNiN2Nmdnd6Y3A1ZWltbWp4YXl6bGtsNGN3NTZnbG81YQ==]
//pkgs.dev.azure.com/Amido-Ecommerce/_packaging/Amido-Ecommerce/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
registry=https://pkgs.dev.azure.com/Amido-Ecommerce/_packaging/Amido-Ecommerce/npm/registry/
always-auth=true
